/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16/11/2016, 16:26:00
    Author     : eugenio
*/

#my_canvas {
    border: solid 1px black; 
    width: 3cm; 
    height: 4cm; 
}

#foto_candidato {
    display: none;
    width: 3cm; 
    height: 4cm; 
}
