

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


table tr td {
    padding: 5px;
    border: 1px solid black;
}

#tb_resultado tbody tr td:nth-child(2) {
    width: 200px;
    text-align: right;
}

.jumbotron {
    margin:-20px;
}

.bp-bold {
    font-weight: bold;
}











