

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    padding-top: 0px;
    padding-bottom: 20px;
}


table tr td {
    padding: 5px;
    border: 1px solid black;
}

#tb_resultado tbody tr td:nth-child(2) {
    width: 200px;
    text-align: right;
}

.jumbotron {
    margin:-20px;
}

.bp-bold {
    font-weight: bold;
}

#dicas tbody tr td {
    vertical-align: top;
}

