

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


table tr td {
    padding: 5px;
    border: 1px solid black;
}














