/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30/08/2014, 18:40:14
    Author     : eugenio
*/

body {
    background-image: url(../img/image-back.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.toast-container {
    width: 300px;
    z-index: 9999;
}

.container {
    margin-top: 5px;
    padding-top: 20px;
    background-color: whitesmoke;
    opacity: 0.95;
    min-height: 400px;
}

footer {
    text-align: center;
}
