/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.hero-unit {
    padding: 10px;
}

a {
    color: black;
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font-family: Verdana,Arial,sans-serif;
    font-size: 0.8em;
}

.mensagem {
    padding: 5px;
    margin-bottom: 5px;
    background-color: #dddddd;
    border-radius: 5px;
    -moz-border-radius: 5px; /* Old Firefox */
}

.table-striped tbody > tr:nth-child(odd) > td,
.table-striped tbody > tr:nth-child(odd) > th {
    background-color: #f9f9f9;
}

div.dataTables_length label {
    width: auto;
    float: left;
    text-align: left;
}

div.dataTables_length select {
    width: auto;
}

div.dataTables_filter label {
    float: left;
    width: auto;
}

div.dataTables_info {
    padding-top: 8px;
}

div.dataTables_paginate {
    float: right;
    margin: 0;
}

table {
    margin: 1em 0;
    clear: both;
}


.ui-tabs .ui-tabs-nav li a {
    padding: 0.1em 1em;
}

.ui-tabs-anchor {
    font-size: 0.85em;
}

div.dataTables_length label {
    width: auto;
    float: left;
    text-align: left;
}

div.dataTables_length select {
    width: auto;
}

div.dataTables_filter label {
    float: left;
    width: auto;
}

div.dataTables_info {
    padding-top: 8px;
}

div.dataTables_paginate {
    float: right;
    margin: 0;
}

table {
    margin: 1em 0;
    clear: both;
}

#tbl_listagem {
    font-family: verdana;
    font-size: 0.8em;   
}

#tbl_listagem_paginate {
    margin-top: 10px;
}

#tbl_listagem_info {
    font-family: verdana;
    font-size: 0.8em;   
}

#tbl_listagem_previous {
    font-family: verdana;
    font-size: 0.8em;
}

#tbl_listagem_next {
    font-family: verdana;
    font-size: 0.8em;
}

.coluna-data {
    width: 10px;
    white-space: nowrap;
}

.usuario-ativo {
    float:right;
    color:white;
    margin-top:10px;
}

#tbl_calendar {
    width: 100%;
    background-color: white;
}
#tbl_calendar tr th {
    font-size: 0.8em;
}

#tbl_calendar tr td {
    font-size: 0.8em;
    width: 50px;
    vertical-align: top;
    text-align: center;
    padding: 5px;
}

.day-calendar {
}